<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/swr/git/stefanwalther/qix-info/docs/media/list-apps.mp4</key>
	<data>
	Ym9va1gDAAAAAAQQMAAAAMSR5LmzX6vo4QQ5NBdpdMaJSlxlqx8gjR8ggk/PwE7TVAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAHN3cgADAAAAAQEAAGdp
	dAANAAAAAQEAAHN0ZWZhbndhbHRoZXIAAAAIAAAAAQEAAHFpeC1pbmZvBAAAAAEBAABk
	b2NzBQAAAAEBAABtZWRpYQAAAA0AAAABAQAAbGlzdC1hcHBzLm1wNAAAACAAAAABBgAA
	EAAAACAAAAAsAAAAOAAAAFAAAABgAAAAbAAAAHwAAAAIAAAABAMAAJoqBgAAAAAACAAA
	AAQDAAAseQkAAAAAAAgAAAAEAwAAtfVzAAAAAAAIAAAABAMAADIa4wAAAAAACAAAAAQD
	AABH/aoAAgAAAAgAAAAEAwAAp/2qAAIAAAAIAAAABAMAABabqwACAAAACAAAAAQDAAAZ
	m6sAAgAAACAAAAABBgAAvAAAAMwAAADcAAAA7AAAAPwAAAAMAQAAHAEAACwBAAAIAAAA
	AAQAAEHACib3F/EnGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMA
	AAYAAAAAAAAABAAAAAMDAADmufd9CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50
	b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAAQbvTKuEAAAAkAAAAAQEAADYyQjVB
	NDZBLTFBMEUtMzNEMS1CMTRFLTBFMDRERjg1Rjg0NhgAAAABAgAAgQAAAAEAAADvEwAA
	AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAA
	AAQQAACUAAAAAAAAAAUQAAA8AQAAAAAAABAQAAB0AQAAAAAAAEAQAABkAQAAAAAAAAIg
	AABAAgAAAAAAAAUgAACwAQAAAAAAABAgAADAAQAAAAAAABEgAAD0AQAAAAAAABIgAADU
	AQAAAAAAABMgAADkAQAAAAAAACAgAAAgAgAAAAAAADAgAABMAgAAAAAAAAHAAACUAQAA
	AAAAABHAAAAgAAAAAAAAABLAAACkAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
